/*
 * global CSS
 *
 */

/* ==========================================================================
   Base styles
   ========================================================================== */
html {
	color:$textColor;
	font-family: $baseFontFamily;
	background-color: $bodyBackground;
	/*font-size: 1em; */
	font-size: 100%; /* Global base font-size default */
	line-height: $baseLineHeight;
}
body {
    font-size: 1em;
	// background: $grayEE;
	// height: 800px;
	// @include horizontal-gradient(#eee, 10%, #222, 100%);
	//@include linear-gradient-tri(#eee, 10%, #2f5, 35%, #222, 80%);
}
.inner{
	max-width: 960px;
	margin: 0 auto;
	position: relative;
}
h4 {
	color: #949494;
	font-weight: bold;
	font-size: 12px;
	font-family: 'Titillium Web', sans-serif;
}

/*ie8 with box sizing, max-width and padding messes up the total witdh */


/* ==========================================================================
   Header
   ========================================================================== */
body > header{
	/*background: @white;*/
}
header{
	border-top: 12px solid #ff8200;
	display: table;
	width: 100%;
	table-layout: fixed;
	position: relative;
}
#logo{
	border-right:1px solid #efefef;
	border-bottom:1px solid #efefef;
	padding:32px 52px;
}
	#logo a{
		display: block;
		height: 100%;
		width: 100%;
	}
		#logo a img{
			margin: auto;
		}
.col_logo{
	display: inline-block;
	float: left;
	width: 25%;
}
.search-container{
	border-bottom:1px solid #efefef;
	padding: 38px 52px 37px 0;
	float: left;
	display: inline-block;
	text-align: center;
	width: 25%;
}


/**** fixes issue with max-width and box-sizing on IE*****/


/* ==========================================================================
   Site Content wrapper
   ========================================================================== */
.row{
	padding: 55px 52px 0 0;
}
.row:before, .row:after {
	display: table;
	content: " ";
}
.f-left{
	float: left;
	display: block;
	min-height: 1px;
}
#content{
	width: 75%;
}
	.sidepost{
		font-family: 'Titillium Web', sans-serif;
		width: 16.666666666666664%;	
	}
		.postprop{
			font-size: 12px;
			padding: 24px;	
		}
		.postprop:first-child {
			padding-top: 0;
		}
			.like a, .like span, .comments a, .share a{
				color: #A1A1A1;
				display: block;
				margin: auto;
				text-align: center;
			}
			.like a{
				padding: 0 0 21px 0;
			}
			.like span{
				padding: 20px 0 0;
			}
			.like .posticon{
				background-position: 0 0;
			}
			.comments .posticon{
				background-position: center center;
			}
			.share .posticon{
				background-position:  center right;
			}
			.posticon{
				background: url('../img/tc.png') no-repeat;
				height: 23px;
				width: 20px;
			}
			.sep {
				width: 40px;
				margin: 0 auto;
				min-height: 1px;
				height: 1px;
				background: #efefef;
			}
	.post-content{
		width: 83.33333333333334%;
	}	
	.carousel{
		margin: 0 0 38px;
	}
	h1{
		font-size: 32px;
		color: #050505;
		font-weight: normal;
		margin: 38px 0 20px;
	}	
	h1 a {
		color: #19b4ca;
	}
	.post-text p, .post-text ul, .post-text ol .post-text table, .post-text address {
		color: #878787;
	}
	.post-text p {
		font-size: 17px;
		font-weight: light;
		line-height: 30px;
		margin: 0 0 40px 0;
	}
		.post-text p a{
			color: #444;
		}
	.shared{
		background-image: url('../img/socials.png');
		width: 15px;
		height: 13px;
		display: block;
		background-position: left center;
		margin: 13px 12px;
	}
	.shareboxin {
		margin: 24px 0 0 -42px;
		width: 100px;
		left:0;
		top: 0;
		display: none;
		height: 180px;
		background: url('../img/social-line.png') repeat-y center 0px #f0f0f0;
		position: absolute;
		border: 10px solid #f0f0f0;
		opacity:0;
		transition:opacity 0.5s linear
	}
	.shareboxin:before {
		border-color: transparent transparent #f0f0f0;
		border-style: solid;
		border-width: 0 5px 4px;
		content: "";
		height: 0;
		position: absolute;
		top: -14px;
		width: 0;
		margin-left: -4px;
		left: 50%;
	}
	.shareboxin a.blog-sharer {
		background-image: url('../img/socials.png');
		width: 15px;
		height: 13px;
		display: block;
		background-position: left center;
		margin: 13px 12px;
	}
		.shareboxin a.facebook {
			background-position: -15px center;
			margin-left: 13px;
		}
		.shareboxin a.gplus {
			background-position: -30px center;
		}
		.shareboxin a.linkedin {
			background-position: -45px center;
			margin-left: 13px;
		}
		.shareboxin a.pinterest {
			margin-top: 18px;
			background-position: -60px center;
		}
		.shareboxin a.digg {
			margin-top: 18px;
			background-position: -75px center;
		}
		.shareboxin a.reddit {
			background-position: -90px center;
		}
		.shareboxin a.stumbleupon {
			background-position: -105px center;
		}
	div.drop-sharebox{
		margin:auto;
		position: relative;
		width: 25px;
	}	
	div.drop-sharebox:hover .shareboxin{
		opacity:1;
		display: block;
	}	
	
	.socline {
		border-top: 1px solid #e3e3e3;
		width: 100%;
		float: left;
		position: relative;
		top: 3px;
	}
	.share .postprop{
		text-align: center;
	}
	.carousel{
		width: 100%;
		text-align: center;
		background-color: #f6f6f6;
		position:relative;
	}
		.carousel-indicators {
			left: 0;
			text-align: center;
			list-style: none; 
			margin: 0;
			bottom: 14px;
			height: 14px;
			width: 100%;
		}
		.carousel >.item >img, .carousel >.item > a > img {
			display: block;
			height: auto;
			max-width: 100%;
			line-height: 1;
		}	
	.carousel-indicators {
		left: 0;
		text-align: center;
		margin: 0;
		bottom: 14px;
		height: 14px;
		width: 100%;
	}
	.carousel-indicators {
		position: absolute;
		bottom: 10px;
		left: 50%;
		z-index: 15;
		width: 60%;
		padding-left: 0;
		margin-left: -30%;
		text-align: center;
		list-style: none;
	}
	.carousel-indicators li, .carousel-indicators li:first-child {
		display: inline-block;
		border: 2px solid #dbdbdb;
		width: 10px;
		height: 10px;
		border-radius: 50%;
		transition: background 300ms ease;
		-webkit-transition: background 300ms ease;
		-moz-transition: background 300ms ease;
		-ms-transition: background 300ms ease;
		-o-transition: background 300ms ease;
	}
	.carousel-indicators li.active, .carousel-indicators li:hover {
		width: 10px;
		height: 10px;
		background-color: #dbdbdb;
		margin: 1px;
	}
	
/* ==========================================================================
   Interna
   ========================================================================== */	
	.col-md-4 {
		float: left;
		width: 33.33333333333333%;
	}
	.related-entries {
		overflow: hidden;
		margin: 0 0 66px;
	}	
	.post-content h4 {
		padding: 0 0 10px;
		text-transform: uppercase;
		line-height: 25px;
	}
	.post-content h4.border {
		border-bottom: 1px solid #efefef;
	}
	.related-entries .col-md-4 a.related-title {
		display: inline-block;
		font-size: 16px;
		color: #8c8c8c;
		margin: 18px 0 0;
	}
	.col-md-11 {
		width: 91.66666666666666%;
	}
	.col-md-6 {
		width: 50%;
	}
	.comments-list {
		list-style: none;
		margin: 0;
	}
	.rows .col-md-11{
		margin: 49px 0px;
		float:none
	}
	#comments{
		font-family: Georgia, "Times New Roman"
	}
	.form-row {
		padding: 18px 0;
		margin: 9px 0 9px;
		border-bottom: 2px solid #dadada;
		transition: border-color 300ms ease;
		-webkit-transition: border-color 300ms ease;
		-moz-transition: border-color 300ms ease;
		-ms-transition: border-color 300ms ease;
		-o-transition: border-color 300ms ease;
		position: relative;
		cursor: pointer;
	}
	.form-row label {
		font-size: 12px;
		color: #a0a0a0;
		margin: 0 4px 0 0;
		transition: color 300ms ease;
		-webkit-transition: color 300ms ease;
		-moz-transition: color 300ms ease;
		-ms-transition: color 300ms ease;
		-o-transition: color 300ms ease;
		cursor: pointer;
		float: left;
	}
	.form-row input[type="text"], .form-row input[type="email"], .form-row textarea {
		border: none;
		background: transparent;
		color: #a0a0a0;
		font-size: 12px;
		width: 100%;
	}
	.form-row textarea {
		width: 100%;
		height: 150px;
		resize: none;
		margin: 5px 0 0;
	}
	.form-submit {
		padding: 18px 0;
	}
	.accentbg, .form-submit input {
		background-color: #ffd773;
	}
	.form-row button.submit, .form-submit input {
		padding: 14px 46px;
		font-size: 12px;
		color: #000;
		border: 0;
		border-radius: 3px;
	}
	
	
/* ==========================================================================
   Footer
   ========================================================================== */
  	
aside#sidebar{
	border-left: 1px solid #efefef;
	width: 25%;
}
#sidebar iframe {
	max-width: 100%;
}
	#sidebar h2{
		font-family: 'Titillium Web' , sans-serif;
		font-size: 11px;
		font-weight: 700;
		margin: 0px 0 20px;
		text-align: center;
		letter-spacing: 1px;
		text-transform: uppercase;
	}
	#sidebar > ul > li {
		border-top: 1px solid #efefef;
		padding: 60px 20px 30px;
		margin: 20px 20px 30px 20px;
	}
	#sidebar > ul li:first-child {
		border: none;
	}
		li.recent-posts-2 ul li {
			border-top: 1px solid #efefef;
			font-size: 17px;
			padding: 10px 0;
		}
		li.recent-posts-2 ul li {
			border-top: 1px solid #efefef;
			font-size: 17px;
			padding: 10px 0;
		}
		li.recent-posts-2 ul li {
			font-size: 17px;
			padding: 10px 0;
		}
		li.recent-posts-2 ul li a{
			 color:#3D3D3D;	
		}		
	.post-date {
		font-size: 14px;
		font-style: italic;
		color: #a1a1a1;
		display: block;
	}
	.social .icon {
		display: inline-block;
		width: 78px;
		margin: 5px 7px;
	}
	.social .icon a {
		text-indent: -9999px;
		display: block;
		height: 32px;
		width: 32px;
		background-repeat: no-repeat;
	}
	.icon-facebook {
		background: url('../img/facebook.png');
	}
	.icon-twitter {
		background: url('../img/twitter_alt.png');
	}
	.icon-google {
		background: url('../img/google_plus.png');
	}
	.icon-youtube {
		background: url('../img/youtube.png');
	}
	.icon-pinterest {
		background: url('../img/pinterest.png');
	}
	.icon-natura {
		background: url('../img/natura.png');
	}
	.round, .author-img img, .avatar {
		border-radius: 50%;
	}
	.related-entries .col-md-4 a.related-title:hover {
		color: #19b4ca !important;
	}
	.comments-list h5 {
		font-size: 13px;
		font-weight: bold;
		color: #707070;
		border-bottom: 1px solid #f2f2f2;
		padding: 0px;
	}
	.col-md-1 {
		float: left;
		width: 8.333333333333332%;
	}
	.col-md-11 {
		float: left;
		width: 91.66666666666666%;
	}
	.comments-list h5 span.commnum {
		font-size: 40px;
		color: #f2f2f2;
		float: right;
	}
	.add-comment{
		margin: 50px 0px 0px 0px
	}
	
/* ==========================================================================
   Footer
   ========================================================================== */

footer {
	padding: 32px 0 38px;
	border-top: 1px solid #efefef;
	display: block;
	clear:both;
	text-align: center;
}

