/********************** nav **********************/

nav#main-top{
	font-family: 'Titillium Web' , sans-serif;
	float: left;
	display: inline-block;
	padding:78px 15px 0px;
	border-bottom:1px solid #efefef;
	width: 50%;
}
nav#main-top > ul{
	padding: 20px 0 0;
	overflow: hidden;
}	
nav#main-top > ul > li{
	display: inline-block;
	text-transform: uppercase;
	font-size: 12px;
	padding: 0 0 31px;
	margin: 0 0 0 5%;
}
nav#main-top > ul > li  a{
	color:#ff8200; 
	text-decoration: none;
	font-weight: 700;
}	
nav ul.dropdown-menu, ul.dropdown-submenu{
	background: #FFF;
	border:1px solid #e9e9e9; 
	border-bottom:none;
	display:block; 
	margin-top: 10px;
	position:absolute;
	text-align: center;
	width: 158px;
	z-index: 99;
	opacity:0;
	transition:opacity 0.5s linear;
}
ul.dropdown-submenu{
	margin-top: -40px;
	margin-left: 161px;
}
nav ul.dropdown-menu:before{
	position: absolute;
	top: -5px;
	width: 0px;
	height: 0px;
	border-style: solid;
	border-width: 0 5px 4px 5px;
	border-color: transparent transparent #e9e9e9;
	content: "";
	left: 12%;
}
nav ul.dropdown-menu li{
	border-bottom: 1px solid #e9e9e9;
	position:relative;
}	
nav#main-top ul.dropdown-menu li a{
	color: #b0b0b0;
	display: block;
	padding: 10px 0;
}	
nav#main-top ul.dropdown-menu li.item_0 a{
	color: #c43f54;
}
nav#main-top ul.dropdown-menu li.item_1 a{
		color: #487210;	
}
nav#main-top ul.dropdown-menu li.item_2 a{
	color: #d78a20;
}
nav#main-top ul.dropdown-menu li.item_3 a{
	color: #19b4ca;
}
nav#main-top ul.dropdown-menu li.item_4 a{
	color: #fbc648;
}
nav ul.dropdown-menu li a:hover{
	background: #e9e9e9;
}
			
nav li.contsubmenu:hover ul.dropdown-menu{
	display:block;
	opacity:1;
}

ul.dropdown-menu li.contsubsubmenu:hover ul.dropdown-submenu{
	display:block;
	opacity:1;
}
