// Typography.less
// Headings, body text, lists, code, and more for a versatile and durable typography system
// ----------------------------------------------------------------------------------------

// BODY TEXT
// ---------

p {
	margin: 0;
	font-family: $baseFontFamily;
	@include font-size(14);
	line-height: $baseLineHeight;
}

// HEADINGS
// --------

h1, h2, h3, h4, h5, h6,
.h1, .h2, .h3, .h4, .h5, .h6 {
	margin: 0 0 15px;
	font-family: $headingsFontFamily;
	font-weight: $headingsFontWeight;
	color: $textColor;
	text-rendering: optimizelegibility; // Fix the character spacing for headings
	line-height: 1;
	small {
		font-weight: normal;
		color: $grayLight;
	}
}

h1, .h1 {
	@include font-size(48);
}

h2, .h2 {
	@include font-size(36);
}

h3, .h3 {
	@include font-size(24);
}

h4, .h4 {
	@include font-size(16);
}

h5, .h5 {
	@include font-size(12);
}

h6, .h6 {
	@include font-size(11);
}

// LISTS
// -----

// Unordered and Ordered lists
ul, ol {
	padding: 0;
	margin: 0 0 $baseLineHeight / 2 0;
}

ul ul,
ul ol,
ol ol,
ol ul {
	margin-bottom: 0;
}

ul {
	list-style: none;
}

ol {
	list-style: decimal;
}

li {
	line-height: $baseLineHeight;
}

// Description Lists
dl {
	margin-bottom: $baseLineHeight;
}

dt,
dd {
	line-height: $baseLineHeight;
}

dt {
	font-weight: bold;
	line-height: $baseLineHeight - 1; // fix jank Helvetica Neue font bug
}

dd {
	margin-left: $baseLineHeight / 2;
}

// Links
// -----

::-moz-selection { background: #999; color: #fff; text-shadow: none; }
::selection { background: #999; color: #fff; text-shadow: none; }
a {
	color: $linkColor;
	text-decoration: none;
	&:hover {
		color: $linkColorHover;
		text-decoration: underline;
	}
}
