// Relative images path
$imgPath: "../images/";

// Variables.less
// -----------------------------------------------------



// GLOBAL VALUES
// --------------------------------------------------


// Grays
// -------------------------
$black:                 #000;
$darkBg:     	        #201f1f;
$darkText:              #3d3d3d;
$gray:                  #5f5f5f;
$grayLight:             #94918f;
$grayLighter:           #a1a1a1;
$grayEE:           		#eee;
$white:                 #fff;
$red:                 	#ed1b24;
$green:                 #40b34f;
$orange:                #f4ba39;


// Accent colors
// -------------------------
$yellow:                #f4ba39;


// Scaffolding
// -------------------------
$bodyBackground:        $white;
$textColor:             $darkText;


// Links
// -------------------------
$linkColor:             #08c;
$linkColorHover:        darken($linkColor, 15%);
$altLinkColor:  		$yellow;
$altLinkColorHover:  	darken($yellow, 15%);



// Typography
// -------------------------
$baseFontSize:          16px;
$baseFontFamily:        Georgia, "Times New Roman", Times, serif;
$bebas:					'bebas-neue';
$baseLineHeight:        1.5;
$altFontFamily:         $baseFontFamily;
$headingsFontFamily:    $bebas;
$headingsFontWeight:    normal;



//   MAYBE   ************************//


// Forms
// -------------------------
$inputBackground:               $white;
$inputBorder:                   #ccc;
$inputDisabledBackground:       $grayLighter;



// Input placeholder text color
// -------------------------
$placeholderText:         $grayLight;






