/*
 * Clearfix: contain floats
 *
 * For modern browsers
 * 1. The space content is one way to avoid an Opera bug when the
 *    `contenteditable` attribute is included anywhere else in the document.
 *    Otherwise it causes space to appear at the top and bottom of elements
 *    that receive the `clearfix` class.
 * 2. The use of `table` rather than `block` is only necessary if using
 *    `:before` to contain the top-margins of child elements.
 */
.clearfix:before,
.clearfix:after {
  content: " ";
  /* 1 */
  display: table;
  /* 2 */
}

.clearfix:after {
  clear: both;
}

/*
 * For IE 6/7 only
 * Include this rule to trigger hasLayout and contain floats.
 */
.clearfix {
  *zoom: 1;
}

/**
  Backgrounds
**/
/**
  Take a PX font size value et output in PX for IE8 and lower and in REM for modern browsers.
**/
/***
  IE < 9 Stuffs
***/
.unselectable {
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.fleft {
  float: left;
}

.fright {
  float: right;
}

.hide-text {
  text-indent: -8000px;
  overflow: hidden;
}

.visuallyhidden {
  border: 0;
  clip: rect(0 0 0 0);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  width: 1px;
}

.visuallyhidden.focusable:active, .visuallyhidden.focusable:focus {
  clip: auto;
  height: auto;
  margin: 0;
  overflow: visible;
  position: static;
  width: auto;
}

/*! normalize.css v2.1.2 | MIT License | git.io/normalize */
/* ==========================================================================
   HTML5 display definitions
   ========================================================================== */
/**
 * Correct `block` display not defined in IE 8/9.
 */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
main,
nav,
section,
summary {
  display: block;
}

/**
 * Correct `inline-block` display not defined in IE 8/9.
 */
audio,
canvas,
video {
  display: inline-block;
}

/**
 * Prevent modern browsers from displaying `audio` without controls.
 * Remove excess height in iOS 5 devices.
 */
audio:not([controls]) {
  display: none;
  height: 0;
}

/**
 * Address styling not present in IE 8/9.
 */
[hidden] {
  display: none;
}

/* ==========================================================================
   Base
   ========================================================================== */
/**
 * 1. Set default font family to sans-serif.
 * 2. Prevent iOS text size adjust after orientation change, without disabling
 *    user zoom.
 */
html {
  font-family: sans-serif;
  /* 1 */
  -ms-text-size-adjust: 100%;
  /* 2 */
  -webkit-text-size-adjust: 100%;
  /* 2 */
}

/**
 * Remove default margin.
 */
body {
  margin: 0;
}

/* ==========================================================================
   Links
   ========================================================================== */
/**
 * Address `outline` inconsistency between Chrome and other browsers.
 */
a:focus {
  outline: thin dotted;
}

/**
 * Improve readability when focused and also mouse hovered in all browsers.
 */
a:active,
a:hover {
  outline: 0;
  text-decoration: none !important;
}

/* ==========================================================================
   Typography
   ========================================================================== */
/**
 * Address styling not present in IE 8/9, Safari 5, and Chrome.
 */
abbr[title] {
  border-bottom: 1px dotted;
}

/**
 * Address style set to `bolder` in Firefox 4+, Safari 5, and Chrome.
 */
b,
strong {
  font-weight: bold;
}

/**
 * Address styling not present in Safari 5 and Chrome.
 */
dfn {
  font-style: italic;
}

/**
 * Address differences between Firefox and other browsers.
 */
hr {
  -moz-box-sizing: content-box;
  box-sizing: content-box;
  height: 0;
}

/**
 * Address styling not present in IE 8/9.
 */
mark {
  background: #ff0;
  color: #000;
}

/**
 * Correct font family set oddly in Safari 5 and Chrome.
 */
code,
kbd,
pre,
samp {
  font-family: monospace, serif;
  font-size: 1em;
}

/**
 * Improve readability of pre-formatted text in all browsers.
 */
pre {
  white-space: pre-wrap;
}

/**
 * Set consistent quote types.
 */
q {
  quotes: "\201C" "\201D" "\2018" "\2019";
}

/**
 * Address inconsistent and variable font size in all browsers.
 */
small {
  font-size: 80%;
}

/**
 * Prevent `sub` and `sup` affecting `line-height` in all browsers.
 */
sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sup {
  top: -0.5em;
}

sub {
  bottom: -0.25em;
}

/* ==========================================================================
   Lists
   ========================================================================== */
/*
 * Addresses margins set differently in IE 6/7.
 */
dl,
menu,
ol,
ul,
dd {
  margin: 0;
}

/*
 * Addresses paddings set differently in IE 6/7.
 */
menu,
ol,
ul {
  /*padding: 0 0 0 40px;*/
  padding: 0;
}

/*
 * Corrects list images handled incorrectly in IE 7.
 */
nav ul,
nav ol,
ol, ul {
  list-style: none;
  list-style-image: none;
}

/* ==========================================================================
   Embedded content
   ========================================================================== */
/**
 * Remove border when inside `a` element in IE 8/9.
 */
img {
  border: 0;
}

a img {
  display: block;
}

/**
 * Correct overflow displayed oddly in IE 9.
 */
svg:not(:root) {
  overflow: hidden;
}

/* ==========================================================================
   Figures
   ========================================================================== */
/**
 * Address margin not present in IE 8/9 and Safari 5.
 */
figure {
  margin: 0;
}

figure img {
  display: block;
}

/* ==========================================================================
   Forms
   ========================================================================== */
/**
 * Define consistent border, margin, and padding.
 */
fieldset {
  border: 0;
  margin: 0;
  padding: 0.35em 0 0.75em;
}

/**
 * 1. Correct `color` not being inherited in IE 8/9.
 * 2. Remove padding so people aren't caught out if they zero out fieldsets.
 */
legend {
  border: 0;
  /* 1 */
  padding: 0;
  /* 2 */
}

/**
 * 1. Correct font family not being inherited in all browsers.
 * 2. Correct font size not being inherited in all browsers.
 * 3. Address margins set differently in Firefox 4+, Safari 5, and Chrome.
 */
button,
input,
select,
textarea {
  font-family: inherit;
  /* 1 */
  font-size: 100%;
  /* 2 */
  margin: 0;
  /* 3 */
}

label {
  display: block;
  margin-bottom: 5px;
  color: #3d3d3d;
}

/**
 * Address Firefox 4+ setting `line-height` on `input` using `!important` in
 * the UA stylesheet.
 */
button,
input {
  line-height: normal;
}

/**
 * Address inconsistent `text-transform` inheritance for `button` and `select`.
 * All other form control elements do not inherit `text-transform` values.
 * Correct `button` style inheritance in Chrome, Safari 5+, and IE 8+.
 * Correct `select` style inheritance in Firefox 4+ and Opera.
 */
button,
select {
  text-transform: none;
}

/**
 * 1. Avoid the WebKit bug in Android 4.0.* where (2) destroys native `audio`
 *    and `video` controls.
 * 2. Correct inability to style clickable `input` types in iOS.
 * 3. Improve usability and consistency of cursor style between image-type
 *    `input` and others.
 */
button,
html input[type="button"],
input[type="reset"],
input[type="submit"] {
  -webkit-appearance: button;
  /* 2 */
  cursor: pointer;
  /* 3 */
}

/**
 * Re-set default cursor for disabled elements.
 */
button[disabled],
html input[disabled] {
  cursor: default;
}

/**
 * 1. Address box sizing set to `content-box` in IE 8/9.
 * 2. Remove excess padding in IE 8/9.
 */
input[type="checkbox"],
input[type="radio"] {
  box-sizing: border-box;
  /* 1 */
  padding: 0;
  /* 2 */
}

/**
 * 1. Address `appearance` set to `searchfield` in Safari 5 and Chrome.
 * 2. Address `box-sizing` set to `border-box` in Safari 5 and Chrome
 *    (include `-moz` to future-proof).
 */
input[type="search"] {
  -webkit-appearance: textfield;
  /* 1 */
  -moz-box-sizing: content-box;
  -webkit-box-sizing: content-box;
  /* 2 */
  box-sizing: content-box;
}

/**
 * Remove inner padding and search cancel button in Safari 5 and Chrome
 * on OS X.
 */
input[type="search"]::-webkit-search-cancel-button,
input[type="search"]::-webkit-search-decoration {
  -webkit-appearance: none;
}

/**
 * Remove inner padding and border in Firefox 4+.
 */
button::-moz-focus-inner,
input::-moz-focus-inner {
  border: 0;
  padding: 0;
}

/**
 * 1. Remove default vertical scrollbar in IE 8/9.
 * 2. Improve readability and alignment in all browsers.
 */
textarea {
  overflow: auto;
  /* 1 */
  vertical-align: top;
  /* 2 */
}

/* ==========================================================================
   Tables
   ========================================================================== */
/**
 * Remove most spacing between table cells.
 */
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* ==========================================================================
   Helper classes
   ========================================================================== */
/*
 * Image replacement
 */
.ir {
  background-color: transparent;
  border: 0;
  overflow: hidden;
  /* IE 6/7 fallback */
  *text-indent: -9999px;
}

.ir:before {
  content: "";
  display: block;
  width: 0;
  height: 100%;
}

/*
 * Hide from both screenreaders and browsers: h5bp.com/u
 */
.hidden {
  display: none !important;
  visibility: hidden;
}

/*
 * Hide only visually, but have it available for screenreaders: h5bp.com/v
 */
.visuallyhidden {
  border: 0;
  clip: rect(0 0 0 0);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  width: 1px;
}

/*
 * Extends the .visuallyhidden class to allow the element to be focusable
 * when navigated to via the keyboard: h5bp.com/p
 */
.visuallyhidden.focusable:active,
.visuallyhidden.focusable:focus {
  clip: auto;
  height: auto;
  margin: 0;
  overflow: visible;
  position: static;
  width: auto;
}

/*
 * Hide visually and from screenreaders, but maintain layout
 */
.invisible {
  visibility: hidden;
}

/************************* extras ********************************************/
* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  -ms-box-sizing: border-box;
  box-sizing: border-box;
}

@media print {
  * {
    background: transparent !important;
    color: #000 !important;
    /* Black prints faster: h5bp.com/s */
    box-shadow: none !important;
    text-shadow: none !important;
  }

  html {
    font-size: 80%;
  }

  a,
  a:visited {
    text-decoration: underline;
  }

  a[href]:after {
    content: " (" attr(href) ")";
  }

  abbr[title]:after {
    content: " (" attr(title) ")";
  }

  /*
   * Don't show links for images, or javascript/internal links
   */
  .ir a:after,
  a[href^="javascript:"]:after,
  a[href^="/:"]:after,
  a[href^="#"]:after {
    content: "";
  }

  pre,
  blockquote {
    border: 1px solid #999;
    page-break-inside: avoid;
  }

  thead {
    display: table-header-group;
    /* h5bp.com/t */
  }

  tr,
  img {
    page-break-inside: avoid;
  }

  img {
    max-width: 100% !important;
  }

  @page {
    margin: 0.5cm;
  }
  p,
  h2,
  h3 {
    orphans: 3;
    widows: 3;
  }

  h2,
  h3,
  ul, img {
    page-break-after: avoid;
  }
}
p {
  margin: 0;
  font-family: 'Lato', sans-serif;
  font-size: 14px;
  font-size: 0.875rem;
  line-height: 1.5;
}

h1, h2, h3, h4, h5, h6,
.h1, .h2, .h3, .h4, .h5, .h6 {
  margin: 0 0 15px;
  font-family: "bebas-neue";
  font-weight: normal;
  color: #3d3d3d;
  text-rendering: optimizelegibility;
  line-height: 1;
}
h1 small, h2 small, h3 small, h4 small, h5 small, h6 small,
.h1 small, .h2 small, .h3 small, .h4 small, .h5 small, .h6 small {
  font-weight: normal;
  color: #94918f;
}

h1, .h1 {
  font-size: 48px;
  font-size: 3rem;
}

h2, .h2 {
  font-size: 36px;
  font-size: 2.25rem;
}

h3, .h3 {
  font-size: 24px;
  font-size: 1.5rem;
}

h4, .h4 {
  font-size: 16px;
  font-size: 1rem;
}

h5, .h5 {
  font-size: 12px;
  font-size: 0.75rem;
}

h6, .h6 {
  font-size: 11px;
  font-size: 0.6875rem;
}

ul, ol {
  padding: 0;
  margin: 0 0 0.75 0;
}

ul ul,
ul ol,
ol ol,
ol ul {
  margin-bottom: 0;
}

ul {
  list-style: none;
}

ol {
  list-style: decimal;
}

li {
  line-height: 1.5;
}

dl {
  margin-bottom: 1.5;
}

dt,
dd {
  line-height: 1.5;
}

dt {
  font-weight: bold;
  line-height: 0.5;
}

dd {
  margin-left: 0.75;
}

::-moz-selection {
  background: #999;
  color: #fff;
  text-shadow: none;
}

::selection {
  background: #999;
  color: #fff;
  text-shadow: none;
}

a {
  color: #0088cc;
  text-decoration: none;
}
a:hover {
  color: #005580;
  text-decoration: underline;
}

/* ==========================================================================
   Icons
   ========================================================================== */
[class^="icon-"], [class*=" icon-"] {
  display: inline-block;
  *display: inline;
  *zoom: 1;
  background: url("../images/_sprite.png") no-repeat;
}

.icon-fb {
  background-position: -68 -22;
}

.icon-tw {
  background-position: -68 -56;
}

/*
 * global CSS
 *
 */
/* ==========================================================================
   Base styles
   ========================================================================== */
html {
  color: #3d3d3d;
  font-family: 'Lato', sans-serif;
  background-color: white;
  /*font-size: 1em; */
  font-size: 100%;
  /* Global base font-size default */
  line-height: 1.5;
}

body {
  font-size: 1em;
}

.inner {
  max-width: 960px;
  margin: 0 auto;
  position: relative;
}

h4 {
  color: #949494;
  font-weight: bold;
  font-size: 12px;
  font-family: 'Titillium Web', sans-serif;
}

/*ie8 with box sizing, max-width and padding messes up the total witdh */
/* ==========================================================================
   Header
   ========================================================================== */
body > header {
  /*background: @white;*/
}

header {
	background: #d0d0ce; 
  	border-top: 12px solid #ff8200;
  	display: table;
  	width: 100%;
  	table-layout: fixed;
  	position: relative;
}

#logo {
  border-right: 1px solid #efefef;
  border-bottom: 1px solid #efefef;
  padding: 32px 52px;
}

#logo a {
  display: block;
  height: 100%;
  width: 100%;
}

#logo a img {
  margin: auto;
}

.col_logo {
  display: inline-block;
  float: left;
  width: 25%;
}

.search-container {
  border-bottom: 1px solid #efefef;
  padding: 38px 52px 37px 0;
  float: left;
  display: inline-block;
  text-align: center;
  width: 25%;
}

/**** fixes issue with max-width and box-sizing on IE*****/
/* ==========================================================================
   Site Content wrapper
   ========================================================================== */
.row {
  padding: 55px 52px 0 0;
}

.row:before, .row:after {
  display: table;
  content: " ";
}

.f-left {
  float: left;
  display: block;
  min-height: 1px;
}

#content {
  width: 75%;
}

.sidepost {
  font-family: 'Titillium Web', sans-serif;
  width: 16.666666666666664%;
}

.postprop {
  font-size: 12px;
  padding: 24px;
}

.postprop:first-child {
  padding-top: 0;
}

.like a, .like span, .comments a, .share a {
  color: #A1A1A1;
  display: block;
  margin: auto;
  text-align: center;
}

.like a {
  padding: 0 0 21px 0;
}

.like span {
  padding: 20px 0 0;
}

.like .posticon {
  background-position: 0 0;
}

.comments .posticon {
  background-position: center center;
}

.share .posticon {
  background-position: center right;
}

.posticon {
  background: url("../img/tc.png") no-repeat;
  height: 23px;
  width: 20px;
}

.sep {
  width: 40px;
  margin: 0 auto;
  min-height: 1px;
  height: 1px;
  background: #efefef;
}

.post-content {
  width: 83.33333333333334%;
}

.carousel {
  margin: 0 0 38px;
}

h1 {
  font-size: 32px;
  color: #050505;
  font-weight: normal;
  margin: 38px 0 20px;
}

h1 a {
  color: #19b4ca;
}

.post-text p, .post-text ul, .post-text ol .post-text table, .post-text address {
  color: #878787;
}

.post-text p {
  font-size: 17px;
  font-weight: light;
  line-height: 30px;
  margin: 0 0 40px 0;
}

.post-text p a {
  color: #444;
}

.shared {
  background-image: url("../img/socials.png");
  width: 15px;
  height: 13px;
  display: block;
  background-position: left center;
  margin: 13px 12px;
}

.shareboxin {
  margin: 24px 0 0 -42px;
  width: 100px;
  left: 0;
  top: 0;
  display: none;
  height: 180px;
  background: url("../img/social-line.png") repeat-y center 0px #f0f0f0;
  position: absolute;
  border: 10px solid #f0f0f0;
  opacity: 0;
  transition: opacity 0.5s linear;
}

.shareboxin:before {
  border-color: transparent transparent #f0f0f0;
  border-style: solid;
  border-width: 0 5px 4px;
  content: "";
  height: 0;
  position: absolute;
  top: -14px;
  width: 0;
  margin-left: -4px;
  left: 50%;
}

.shareboxin a.blog-sharer {
  background-image: url("../img/socials.png");
  width: 15px;
  height: 13px;
  display: block;
  background-position: left center;
  margin: 13px 12px;
}

.shareboxin a.facebook {
  background-position: -15px center;
  margin-left: 13px;
}

.shareboxin a.gplus {
  background-position: -30px center;
}

.shareboxin a.linkedin {
  background-position: -45px center;
  margin-left: 13px;
}

.shareboxin a.pinterest {
  margin-top: 18px;
  background-position: -60px center;
}

.shareboxin a.digg {
  margin-top: 18px;
  background-position: -75px center;
}

.shareboxin a.reddit {
  background-position: -90px center;
}

.shareboxin a.stumbleupon {
  background-position: -105px center;
}

div.drop-sharebox {
  margin: auto;
  position: relative;
  width: 25px;
}

div.drop-sharebox:hover .shareboxin {
  opacity: 1;
  display: block;
}

.socline {
  border-top: 1px solid #e3e3e3;
  width: 100%;
  float: left;
  position: relative;
  top: 3px;
}

.share .postprop {
  text-align: center;
}

.carousel {
  width: 100%;
  text-align: center;
  background-color: #f6f6f6;
  position: relative;
}

.carousel-indicators {
  left: 0;
  text-align: center;
  list-style: none;
  margin: 0;
  bottom: 14px;
  height: 14px;
  width: 100%;
}

.carousel > .item > img, .carousel > .item > a > img {
  display: block;
  height: auto;
  max-width: 100%;
  line-height: 1;
}

.carousel-indicators {
  left: 0;
  text-align: center;
  margin: 0;
  bottom: 14px;
  height: 14px;
  width: 100%;
}

.carousel-indicators {
  position: absolute;
  bottom: 10px;
  left: 50%;
  z-index: 15;
  width: 60%;
  padding-left: 0;
  margin-left: -30%;
  text-align: center;
  list-style: none;
}

.carousel-indicators li, .carousel-indicators li:first-child {
  display: inline-block;
  border: 2px solid #dbdbdb;
  width: 10px;
  height: 10px;
  border-radius: 50%;
  transition: background 300ms ease;
  -webkit-transition: background 300ms ease;
  -moz-transition: background 300ms ease;
  -ms-transition: background 300ms ease;
  -o-transition: background 300ms ease;
}

.carousel-indicators li.active, .carousel-indicators li:hover {
  width: 10px;
  height: 10px;
  background-color: #dbdbdb;
  margin: 1px;
}

/* ==========================================================================
   Interna
   ========================================================================== */
.col-md-4 {
  float: left;
  width: 33.33333333333333%;
}

.related-entries {
  overflow: hidden;
  margin: 0 0 66px;
}

.post-content h4 {
  padding: 0 0 10px;
  text-transform: uppercase;
  line-height: 25px;
}

.post-content h4.border {
  border-bottom: 1px solid #efefef;
}

.related-entries .col-md-4 a.related-title {
  display: inline-block;
  font-size: 16px;
  color: #8c8c8c;
  margin: 18px 0 0;
}

.col-md-11 {
  width: 91.66666666666666%;
}

.col-md-6 {
  width: 50%;
}

.comments-list {
  list-style: none;
  margin: 0;
}

.rows .col-md-11 {
  margin: 49px 0px;
  float: none;
}

#comments {
  font-family: Georgia, "Times New Roman";
}

.form-row {
  padding: 18px 0;
  margin: 9px 0 9px;
  border-bottom: 2px solid #dadada;
  transition: border-color 300ms ease;
  -webkit-transition: border-color 300ms ease;
  -moz-transition: border-color 300ms ease;
  -ms-transition: border-color 300ms ease;
  -o-transition: border-color 300ms ease;
  position: relative;
  cursor: pointer;
}

.form-row label {
  font-size: 12px;
  color: #a0a0a0;
  margin: 0 4px 0 0;
  transition: color 300ms ease;
  -webkit-transition: color 300ms ease;
  -moz-transition: color 300ms ease;
  -ms-transition: color 300ms ease;
  -o-transition: color 300ms ease;
  cursor: pointer;
  float: left;
}

.form-row input[type="text"], .form-row input[type="email"], .form-row textarea {
  border: none;
  background: transparent;
  color: #a0a0a0;
  font-size: 12px;
  width: 100%;
}

.form-row textarea {
  width: 100%;
  height: 150px;
  resize: none;
  margin: 5px 0 0;
}

.form-submit {
  padding: 18px 0;
}

.accentbg, .form-submit input {
  background-color: #ffd773;
}

.form-row button.submit, .form-submit input {
  padding: 14px 46px;
  font-size: 12px;
  color: #000;
  border: 0;
  border-radius: 3px;
}

/* ==========================================================================
   Footer
   ========================================================================== */
aside#sidebar {
  border-left: 1px solid #efefef;
  width: 25%;
}

#sidebar iframe {
  max-width: 100%;
}

#sidebar h2 {
  font-family: 'Titillium Web' , sans-serif;
  font-size: 11px;
  font-weight: 700;
  margin: 0px 0 20px;
  text-align: center;
  letter-spacing: 1px;
  text-transform: uppercase;
}

#sidebar > ul > li {
  border-top: 1px solid #efefef;
  padding: 60px 20px 30px;
  margin: 20px 20px 30px 20px;
}

#sidebar > ul li:first-child {
  border: none;
}

li.recent-posts-2 ul li {
  border-top: 1px solid #efefef;
  font-size: 17px;
  padding: 10px 0;
}

li.recent-posts-2 ul li {
  border-top: 1px solid #efefef;
  font-size: 17px;
  padding: 10px 0;
}

li.recent-posts-2 ul li {
  font-size: 17px;
  padding: 10px 0;
}

li.recent-posts-2 ul li a {
  color: #3D3D3D;
}

.post-date {
  font-size: 14px;
  font-style: italic;
  color: #a1a1a1;
  display: block;
}

.social .icon {
  display: inline-block;
  width: 78px;
  margin: 5px 7px;
}

.social .icon a {
  text-indent: -9999px;
  display: block;
  height: 32px;
  width: 32px;
  background-repeat: no-repeat;
}

.icon-facebook {
  background: url("../img/facebook.png");
}

.icon-twitter {
  background: url("../img/twitter_alt.png");
}

.icon-google {
  background: url("../img/google_plus.png");
}

.icon-youtube {
  background: url("../img/youtube.png");
}

.icon-pinterest {
  background: url("../img/pinterest.png");
}

.icon-natura {
  background: url("../img/natura.png");
}

.round, .author-img img, .avatar {
  border-radius: 50%;
}

.related-entries .col-md-4 a.related-title:hover {
  color: #19b4ca !important;
}

.comments-list h5 {
  font-size: 13px;
  font-weight: bold;
  color: #707070;
  border-bottom: 1px solid #f2f2f2;
  padding: 0px;
}

.col-md-1 {
  float: left;
  width: 8.333333333333332%;
}

.col-md-11 {
  float: left;
  width: 91.66666666666666%;
}

.comments-list h5 span.commnum {
  font-size: 40px;
  color: #f2f2f2;
  float: right;
}

.add-comment {
  margin: 50px 0px 0px 0px;
}

/* ==========================================================================
   Footer
   ========================================================================== */
footer {
  padding: 32px 0 38px;
  border-top: 1px solid #efefef;
  display: block;
  clear: both;
  text-align: center;
}

/********************** nav **********************/
nav#main-top {
  font-family: 'Titillium Web' , sans-serif;
  float: left;
  display: inline-block;
  padding: 78px 15px 0px;
  border-bottom: 1px solid #efefef;
  width: 50%;
}

nav#main-top > ul {
  padding: 0 0 19px 0;
  overflow: hidden;
}

nav#main-top > ul > li {
  display: inline-block;
  text-transform: uppercase;
  font-size: 16px;
  padding: 0 0 31px;
  margin: 0 0 0 5%;
}

nav#main-top > ul > li a {
  color: #666666;
  text-decoration: none;
  font-weight: 700;
}

nav ul.dropdown-menu, ul.dropdown-submenu {
  background: #FFF;
  border: 1px solid #e9e9e9;
  border-bottom: none;
  display: block;
  margin-top: 10px;
  position: absolute;
  text-align: center;
  width: 158px;
  z-index: 99;
  opacity: 0;
  transition: opacity 0.5s linear;
}

ul.dropdown-submenu {
  margin-top: -40px;
  margin-left: 161px;
}

nav ul.dropdown-menu:before {
  position: absolute;
  top: -5px;
  width: 0px;
  height: 0px;
  border-style: solid;
  border-width: 0 5px 4px 5px;
  border-color: transparent transparent #e9e9e9;
  content: "";
  left: 12%;
}

nav ul.dropdown-menu li {
  border-bottom: 1px solid #e9e9e9;
  position: relative;
}

nav#main-top ul.dropdown-menu li a {
  color: #b0b0b0;
  display: block;
  font-size: 14px;
  padding: 10px 0;
}

nav#main-top ul.dropdown-menu li.item_0 a {
  color: #c43f54;
  font-size: 14px;
}

nav#main-top ul.dropdown-menu li.item_1 a {
  color: #487210;
  font-size: 14px;
}

nav#main-top ul.dropdown-menu li.item_2 a {
  color: #d78a20;
  font-size: 14px;
}

nav#main-top ul.dropdown-menu li.item_3 a {
  color: #19b4ca;
}

nav#main-top ul.dropdown-menu li.item_4 a {
  color: #fbc648;
}

nav ul.dropdown-menu li a:hover {
  background: #e9e9e9;
}

nav li.contsubmenu:hover ul.dropdown-menu {
  display: block;
  opacity: 1;
}

ul.dropdown-menu li.contsubsubmenu:hover ul.dropdown-submenu {
  display: block;
  opacity: 1;
}

/*@import "forms";  
@import "modules";
@import "slider";*/
/*@import "responsive";*/
/*@import "responsive-desktop";
@import "responsive-tablet";
@import "responsive-phone"; */
